<div class="card text-bg-info mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" routerLink="/alumnos/form">Crear</button>
        <div class="alert alert-info" *ngIf="lista?.length==0">No existen alumnos en el sistema</div>
        <table class="table table-hover table-striped" *ngIf="lista?.length>0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Foto</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>email</th>
                    <th>creado en</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of lista">
                    <td>{{alumno.id}}</td>
                    <td>
                        <img *ngIf="alumno.fotoHashCode" 
                        [src]=" baseEndpoint+'/uploads/img/'+alumno.id + '?fotoHashCode='+alumno.fotoHashCode "
                        class="img-thumbnail rounded" style="width:64px; cursor:pointer;">
                        <img *ngIf="!alumno.fotoHashCode" 
                        [src]="'/assets/no-usuario.png'"
                        class="img-thumbnail rounded" style="width:64px; cursor:pointer;">
                    </td>
                    <td>{{alumno.nombre | uppercase}}</td>
                    <td>{{alumno.apellido}}</td>
                    <td>{{alumno.email}}</td>
                    <td>{{alumno.fecha | date: 'yyyy/MM/dd'}}</td>
                    <td><button class="btn btn-dark btn-sm" [routerLink]="['/alumnos/form',alumno.id]">Editar</button>
                    </td>
                    <td><button class="btn btn-danger btn-sm" (click)="eliminar(alumno)">ELiminar</button></td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalRegistros" 
        [pageSize]="totalPorPagina" 
        [pageIndex]="paginaActual"
        [pageSizeOptions]="pageSizeOptions" 
        (page)="paginar($event)"
        showFirstLastButtons
        class="float-start mx-2">
        
        </mat-paginator>
    </div>
</div>