<div class="card text-bg-info mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" routerLink="/examenes/form">Crear</button>
        <div class="alert alert-info" *ngIf="lista?.length==0">No existen Examenes en el sistema</div>
        <table class="table table-hover table-striped" *ngIf="lista?.length>0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>creado en</th>
                    <th>Asignatura</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let examen of lista">
                    <td>{{examen.id}}</td>
                    <td>{{examen.nombre | uppercase}}</td>
                    <td>{{examen.fecha | date: 'yyyy/MM/dd'}}</td>
                    <td>{{examen.asignaturaHija.padre.nombre}} -> {{examen.asignaturaHija.nombre}}</td>
                    <td><button class="btn btn-dark btn-sm" [routerLink]="['/examenes/form',
                        examen.id]">Editar</button>
                    </td>
                    <td><button class="btn btn-danger btn-sm" (click)="eliminar(examen)">ELiminar</button></td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageIndex]="paginaActual"
            [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)" showFirstLastButtons class="float-start mx-2">

        </mat-paginator>
    </div>
</div>